{% extends "baseHtml.html" %}


{% block navbarItems %}
	<ul class="navbar__links">
		{% if not session['token'] %}
			<a href="{{url_for('loginHandler')}}">
				<li>Login</li>
			</a>
		{% else %}
			<a href="{{url_for('logoutHandler')}}">
				<li>Logout</li>
			</a>
			{% if not is_admin(session['token']) %}
				<a href="{{url_for('profileHandler')}}">
					<li>Profile</li>
				</a>
			{% endif %}
		{% endif %}
	</ul>
{% endblock %}

{% block bodyContent %}
	<br><br>
	<div class="section">
		<div class="container">
			
			<div class="modal" id="borrowPopup" style="background-color: white; opacity: 0.95;">
				<div class="modal-background" id="borrowPopupBackground"></div> 
				<div class="modal-card" id="borrowPopupBody">
				<header class="modal-card-head" style="background-color: white;">
					<p class="modal-card-title" style="color: black; background-color: white;font-weight: 600;">
						Reserve Book
					</p>
					<button class="button is-danger is-right" aria-label="close" onclick="closeModal()" style="float: right;">&#10006</button>
				</header>
				<section class="modal-card-body" style="color: black;">
					<p style="background-color: white;color: black;">
						Reserve Book <strong style="background-color: white;color: black;">
							"{{bookData['Name']}}" ? 
						</strong>
						<br>
						Book will be available for pickup tomorrow and will be deemed borrowed under your ID.
						<br><br>
						Due Date : {{get_curr_due_date()}} (10 Days from now)
						<br>
						Fine per day after due date : ₹5
						<br><br><br>
						{% if session['token'] %}
							<button class="button is-primary" style="display: block;margin: 0 auto;" onclick="ReserveBook('{{bookData._id}}','{{bookData.Name}}')">Reserve</button>
						{% else %}
							<a href="{{url_for('loginHandler',from=request.path)}}">
								<button class="button is-primary" style="display: block;margin: 0 auto;">Login to Reserve</button>
							</a>
						{% endif %}
					</p>
					</div>
				</section>
				</div>
			</div>



			<div class="columns">
				<div class="column is-6">
					<div class="image is-2by2">
						<img src="{{bookData['ImageUrl']}}">
					</div>
				</div>
				<div class="column is-5 is-offset-1">
					<div class="title is-2" style="color: white;">{{bookData['Name']}}</div>
					<hr>
					<br>
					<p>
						{{bookData['Description']}} 
					</p>
					<br>
					<br>
					{% if session['token'] %}
						{% if check_if_reserved(session['token'],bookData['_id']) %}
							<p>
								&nbsp; &nbsp; &nbsp;
								<button class="button is-primary" style="height: 60px;">
									Book Reserved
									<br>Due on {{get_due_date(session['token'],bookData['_id'])}}
								</button>
							</p>
						{% else %}
							{% if not bookData['Stock']>0 %}
								<p>
									&nbsp; &nbsp; &nbsp;
									<button class="button is-primary">Out of stock</button>
								</p>
							{% else %}
								<p>
									&nbsp; &nbsp; &nbsp;
									<button class="button is-primary" onclick="showBorrowPopup()">Reserve</button>
								</p>
							{% endif %}
						{% endif %}
					{% else %}
						{% if not bookData['Stock']>0 %}
							<p>
								&nbsp; &nbsp; &nbsp;
								<button class="button is-primary">Out of stock</button>
							</p>
						{% else %}
							<p>
								&nbsp; &nbsp; &nbsp;
								<button class="button is-primary" onclick="showBorrowPopup()">Reserve</button>
							</p>
						{% endif %}
					{% endif %}
					<br>
					<table class="table is-striped is-hoverable is-narrow">
						<tbody>
							<tr>
								<td class="has-text-right">
									<strong class="tableKey">Book Name</strong>
								</td>
								<td>{{bookData['Name']}}</td>
							</tr>
							<tr>
								<td class="has-text-right">
									<strong class="tableKey">Author</strong>
								</td>
								<td>{{bookData['Author']}}</td>
							</tr>
							<tr>
								<td class="has-text-right">
									<strong class="tableKey">Department</strong>
								</td>
								<td>{{bookData['Department']}}</td>
							</tr>
							<tr>
								<td class="has-text-right">
									<strong class="tableKey">Year</strong>
								</td>
								<td>{{bookData['Year']|int}}</td>
							</tr>
							<tr>
								<td class="has-text-right">
									<strong class="tableKey">In Stock</strong>
								</td>
								<td>
									{% if bookData['Stock']>0 %}
										<i class="fa fa-check  title is-5" style="color: greenyellow;"></i>
									{% else %}
										<i class="fa fa-times  title is-5" style="color: red;"></i>
									{% endif %}	
								</td>
							</tr>
							<tr>
								<td class="has-text-right">
									<strong class="tableKey">Stock Left</strong>
								</td>
								{% if bookData['Stock']>0 %}
									<td>{{bookData['Stock']|int}}</td>
								{% else %}
									<td>--</td>
								{% endif %}
							</tr>
						</tbody>
						
					</table>
				</div>
			</div>
		</div>
	</div> 


	<script>
		function showBorrowPopup(){
			$("#borrowPopup").addClass("is-active")
		}

		function ReserveBook(bid,bname){
			// var sendInfo = {
			// 	"_id":{{bookData['_id']|tojson}},
			// 	"name":{{bookData['Name']|tojson}}
			// }

			var sendInfo = {
				"_id":bid,
				"name":bname
			}
			console.log(sendInfo)
		
			$.ajax({
				type: 'POST',
				url: '/reserve',
				data: JSON.stringify (sendInfo),
				success:()=>{
					console.log("Book Reserved")
				},
				contentType: "application/json",
				dataType: 'json'
			});
			location.reload(true);
		}


	</script>

	<style>
		@media screen and (min-width: 769px){
			#borrowPopupBody {
				margin: 0 auto;
				/* max-height: calc(200vh - 10px); */
				height: 400px;
				width: 600px !important;
			}
		}

		#borrowPopupBackground{
			background-color: rgb(0 0 0 / 93%);

		}

	</style>

{% endblock %}
