{% extends "baseHtml.html" %}


{% block navbarItems %}
	<ul class="navbar__links">
        <a href="{{url_for('logoutHandler')}}">
            <li>Logout</li>
        </a>
    </ul>
{% endblock %}

{% block bodyContent %}
	<br><br><br>
	<div class="columns is-multiline">
		<div class="column ">
			<img src="{{userData['PhotoUrl']}}" alt="">
		</div>
		<div class="column is-vcentered mt-6" style="word-wrap: break-word;">
			<br>
			<article class="tile is-child is-primary">
				<p class="title">Name</p>
				<p class="subtitle">{{userData['Name']}}</p>
			</article>
			<br>
			<article class="tile is-child  is-primary">
				<p class="title">Contact</p>
				<p class="subtitle">{{userData['Contact']}}</p>
			</article>
		</div>
		<div class="column is-vcentered mt-6" style="word-wrap: break-word;">
			<br>
			<article class="tile is-child  is-primary">
				<p class="title">Date of Birth</p>
				<p class="subtitle">{{userData['Date of Birth']}}</p>
			</article>
			<br>
			<article class="tile is-child  is-primary">
				<p class="title">Department</p>
				<p class="subtitle">{{userData['Department']}}</p>
			</article>
		</div>
		<div class="column is-vcentered mt-6" style="word-wrap: break-word;">
			<br>
			<article class="tile is-child  is-primary">
				<p class="title">Section</p>
				<p class="subtitle">{{userData['Section']}}</p>
			</article>
			<br>
			<article class="tile is-child  is-primary">
				<p class="title">Year</p>
				<p class="subtitle">{{userData['Year']}}</p>
				</article>
			</div>
		</div>
		<br><br><br>
		<div class="ml-6">
			<hi class="title">Borrows</hi>
			<br><br>
			<table class="table  is-striped is-hoverable is-fullwidth">
				<thead>
					<tr>
						<th>
							<abbr title="Serial Number">
								S.No
							</abbr>
						</th>
						<th>
							<abbr title="Book Name">
								Name
							</abbr>
						</th>
						<th>
							<abbr title="Borrowed On">
								Borrowed On
							</abbr>
						</th>
						<th>
							<abbr title="Due Date">
								Due Date
							</abbr>
						</th>
						<th>
							<abbr title="Returned On">
								Returned On
							</abbr>
						</th>
						<th>
							<abbr title="Dues">
								Dues
							</abbr>
						</th>
					</tr>
				</thead>
				{% if borrowData%}
					{% for item in borrowData %}
						<tbody>
							<tr>
								<th style="color: white;">{{loop.index}}</th>
								<td>{{item['Name']}}</td>
								<td>{{format_date(item['Borrowed On'])}}</td>
								<td>{{format_date(item['Due Date'])}}</td>
								{% if not item['Returned On'] %}
									<td>nil</td>
								{% else %}
									<td>{{item['Returned On']}}</td>
								{% endif %}
								{% if book_due(item['Due Date']) %}
									<td>{{calculate_dues(item['BookID'],session['token'])}}</td>
								{% else %}
									<td>nil</td>
								{% endif %}
							</tr>
							
						</tbody>
					{% endfor %}
				{% else %}
					<tbody>
						<tr>
							<td>nil</td>
							<td>nil</td>
							<td>nil</td>
							<td>nil</td>
							<td>nil</td>
							<td>nil</td>
						</tr>
					</tbody>
				{% endif %}
			</table>
		</div>
	</div>

	<style>
		html{
			background-color: black;
		}

		.title{
			color: white;
		}

		.subtitle{
			color:  rgba(255, 255, 255, 0.904);
		}
	</style>
{% endblock %}
	

